@import './buttons.scss';
@import './lobby.scss';
@import './rooms.scss';
@import './titles.scss';
@import './userbar.scss';

body {
  padding: 0;
  margin: 0;
  font-family: 'PT Sans', sans-serif;
}

.wrapper {
  width: 900px;
  margin: 0 auto;
}

.header {
  width: 100%;
  display: flex;
}

.flashbox {
  background: #121a1e;
  color: #fff;
  width: 140px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.readmore {
  display: block;
  color: #a1a9ab;
}