@import './buttons.scss';
@import './lobby.scss';
@import './rooms.scss';
@import './titles.scss';
@import './userbar.scss';

body {
  padding: 0;
  margin: 0;
  font-family: 'PT Sans', sans-serif;
}

.sidebar {
  width: 300px;
  background: black;
}

.description {
  font-size: 15pt;
  color: #fff;
}

.split {
  display: flex;
  justify-content: center;
  align-items: center;
}

.description-rooms {
  width: 500px;
  padding: 0 15px 0 0;
}

.content {
  width: 100%;
  min-width: 900px;
  margin: 0 auto;
  background: linear-gradient(180deg, #182227, black);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  flex-direction: row;
}

.section {
  width: 900px;
  margin: 25px 0 0 0;
}

.header {
  width: 100%;
  display: flex;
  background: #00000087;
  flex-direction: row-reverse;
}

.flashbox {
  background: #121a1e;
  color: #fff;
  width: 140px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.readmore {
  display: block;
  color: #a1a9ab;
}