.title {
  margin: 0;
  font-size: 11pt;
  font-weight: normal;
}

.title--room {
  padding: 0 0 5px 0;
}

.title--white {
  color: #fff;
}

.title--grey {
  color: #a1a9ab;
}

.title--big {
  font-size: 22pt;
}

.title--small {
  font-size: 12pt;
}
